* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top {
  width: 100vw;
  height: 10vh;
  background-color: black;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.dashboard {
  width: 60vw;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.create-post,
.posts-container {
  margin-bottom: 20px;
}

.create-post h2,
.posts-container h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.create-post textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 1em;
  resize: none;
}

.create-post button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.create-post button:hover {
  background-color: #0056b3;
}
.posts-container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.posts-container h2 {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(67, 90, 95) 100%
  );
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 10%;
}

.posts-container .post {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  padding: 2rem;
  border-radius: 10px;
}

.post-header {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}



.username {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.timestamp {
  margin: 0;
  font-size: 0.9em;
  color: #777;
}
.post-content p {
  margin: 10px 0;
  font-size: 1em;
}
.post-actions{
  display: flex;
  gap: 1rem;
}

.post-actions button {
  border: none;
  background: none;
  color: #007bff;
  font-size: 1em;
  cursor: pointer;
  margin-right: 10px;
}

.post-actions button:hover {
  text-decoration: underline;
}
.myposts{
  background-color: rgb(0, 0, 0);
  color: white;
}
.comment{
  padding: 5px 10px;
  margin:1rem;
  background: transparent;
  color: white;
}
.comment::placeholder{
  color: black;
  color: rgb(60, 102, 25);
}